// VARIABLES
    //Colors
    $mainOrange: #EB5E26;
    $mainBlue: #114b9a;

    //Sizes
    $headerNav_height: 5rem;
//



// FONTS
    @font-face {
        font-family: "quantum";
        src: url(../fonts/quantum.otf);
    }
    @font-face {
        font-family: "watcher";
        src: url(../fonts/watcher.ttf);
    }

    .quantumFont {
        font-family: "quantum";
        font-weight: 400;
    }
    .watcherFont {
        font-family: "watcher";
    }
//



// OOCSS & Atomic classes
    .mainBtn {
        padding: 1em 1.75em;
        border-radius: 15px;
        cursor: pointer;

        font-family: "quantum";
        text-decoration: none;

        &--orange {
            @extend .mainBtn;
        }
        &--orange {
            background-color: $mainOrange;
            color: white;
        }
    }

    .marginCenter {
        margin-inline: auto;
    }
    .mTop100 {
        margin-top: 100px;
    }
    .mTop50 {
        margin-top: 50px;
    }
//



* {
    box-sizing: border-box;
}
body {
    background-color: black;
}
main {
    min-height: 100vh;

    margin-top: $headerNav_height;

    background-color: black;
    color: white;

    .homeContent:last-child {
        margin-bottom: 100px;
    }
}



.headerNav {
    width: 100%;

    z-index: 3;

    position: fixed;
    left: 0;
    top: 0;

    // opacity: 0;
    transition: opacity .25s;
    background-color: black;
    color: white;

    nav {
        align-items: center;
        gap: 20vw;

        a {
            transition: 0.25s;
            &:hover {
                color: $mainOrange;
                transform: scale(1.25);
            }
        }
    }
}
.headerNav_img {
    max-height: $headerNav_height;

    img {
        max-height: inherit;
    }
}



.introSplash {
    height: 100vh;
    width: 100%;
    // margin-top: -$headerNav_height;

    z-index: 1;
    position: relative;

    background-color: black;

    &_wrapper {
        align-items: center;

        color: $mainOrange;

        img {
            max-width: 70%;
        }
    }
    &_separator {
        height: 2px;
        width: 400px;
        border-radius: 1px;

        background-color: $mainOrange;

        &--little {
            @extend .introSplash_separator;
            width: 100px;
        }
    }
    &_scrollIndicator {
        align-items: center;

        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        display: none;
        transition: .25s;
        cursor: pointer;
        animation: scrollIndicOpacity 5s ease-out infinite reverse;

        color: white;
    }
}
@keyframes introLogoOpacity {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes introTxtOpacity {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes scrollIndicOpacity {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.bgdGradientIntro {
    width: 100%;
    height: 400px;

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 95%); 
}

.homeContent {
    width: 75%;
    margin-inline: auto;

    &--img {
        img {
            max-width: 100%;
            height: 100%;
            object-fit:
            cover;
            object-position: center;
            border-radius: 5px;
        }
    }
    &--txt {
        h2 {
            color: $mainOrange;
        }
    }
}

.home_reviewsTitle {
    color: $mainBlue;
    text-align: center;
}
.home_cardReview_header {
    padding-bottom: 0 !important;

    justify-content: space-between;
    align-items: center;
}
.card_user {
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.card_pp {
    height: 40px;
    width: 40px;
    padding: 10px;

    border-radius: 20px;
    background-color: rgb(244, 244, 244);

    img {
        max-height: 20px;
        max-width: 20px;
    }
}
.card_username {
    font-size: 1.25rem;
}

footer {
    padding: 2em 10%;

    background-color: #1b1b1b;
    color: white;
}
.footer_img {
    max-width: 100%;

    img {
        width: 100%;
    }
}
.footer_links {
    gap: .5em;

    a {
        max-width: max-content;
        display: inline-block;

        transition: .25s;
    }
    a:hover {
        transform: scale(1.1);
        color: $mainOrange;
    }
}





.discover_title {
    width: 100%;
    padding-top: 50px;

    font-size: 1.5em;
    text-align: center;
}
.contentWrapper {
    width: 90%;
    margin-inline: auto;
}
.discover_card {
    width: 100%;
    min-height: 300px;

    border-radius: 5px;

    background-color: #2E3438;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover &_content {
        opacity: 1;
    }

    &_content {
        min-height: inherit;

        align-items: center;

        transition: .25s;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.45)
    }
    &_title {
        color: $mainOrange;
        font-size: 1.5em;
        font-weight: 400;
    }

    &--1, &--2, &--3 {
        @extend .discover_card;
    }
    &--1 {
        background-image: url(../img/hero.jpg);
    }
    &--2 {
        background-image: url(../img/game_bgd.png);
    }
    &--3 {
        background-image: url(../img/enemies.png);
    }
}





.play_controls {
    img {
        width: 50%;
    }
}