@font-face {
  font-family: "quantum";
  src: url(../fonts/quantum.otf);
}
@font-face {
  font-family: "watcher";
  src: url(../fonts/watcher.ttf);
}
.quantumFont {
  font-family: "quantum";
}

.watcherFont {
  font-family: "watcher";
}

.mainBtn, .mainBtn--orange {
  padding: 1em 1.75em;
  border-radius: 15px;
  cursor: pointer;
  font-family: "quantum";
  text-decoration: none;
}
.mainBtn--orange {
  background-color: #EB5E26;
  color: white;
}

.marginCenter {
  margin-inline: auto;
}

.mTop100 {
  margin-top: 100px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  min-height: 100vh;
  margin-top: 5rem;
  background-color: black;
  color: white;
}
main .homeContent:last-child {
  margin-bottom: 100px;
}

.headerNav {
  width: 100%;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  transition: opacity 0.25s;
  background-color: black;
  color: white;
}
.headerNav nav {
  align-items: center;
  gap: 20vw;
}
.headerNav nav a {
  transition: 0.25s;
}
.headerNav nav a:hover {
  color: #EB5E26;
  transform: scale(1.25);
}

.headerNav_img {
  max-height: 5rem;
}
.headerNav_img img {
  max-height: inherit;
}

.introSplash {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: black;
}
.introSplash_wrapper {
  align-items: center;
  color: #EB5E26;
}
.introSplash_wrapper img {
  max-width: 70%;
}
.introSplash_separator, .introSplash_separator--little {
  height: 2px;
  width: 400px;
  border-radius: 1px;
  background-color: #EB5E26;
}
.introSplash_separator--little {
  width: 100px;
}
.introSplash_scrollIndicator {
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: 0.25s;
  cursor: pointer;
  animation: scrollIndicOpacity 5s ease-out infinite reverse;
  color: white;
}

@keyframes introLogoOpacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes introTxtOpacity {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scrollIndicOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.bgdGradientIntro {
  width: 100%;
  height: 400px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 95%);
}

.homeContent {
  width: 75%;
  margin-inline: auto;
}
.homeContent--img img {
  max-width: 100%;
}
.homeContent--txt h2 {
  color: #EB5E26;
}

.discover_title {
  width: 100%;
  padding-top: 50px;
  font-size: 1.5em;
  text-align: center;
}

.contentWrapper {
  width: 90%;
  margin-inline: auto;
}

.discover_card, .discover_card--1, .discover_card--2, .discover_card--3 {
  width: 100%;
  min-height: 300px;
  border-radius: 5px;
  background-color: #2E3438;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.discover_card:hover .discover_card_content, .discover_card--1:hover .discover_card_content, .discover_card--2:hover .discover_card_content, .discover_card--3:hover .discover_card_content {
  opacity: 1;
}
.discover_card_content {
  min-height: inherit;
  align-items: center;
  transition: 0.25s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.45);
}
.discover_card_title {
  color: #EB5E26;
  font-size: 1.5em;
  font-weight: 400;
}
.discover_card--1 {
  background-image: url(../img/hero.png);
  background-size: 50%;
}
.discover_card--2 {
  background-image: url(../img/game_bgd.png);
}
.discover_card--3 {
  background-image: url(../img/enemy.png);
  background-size: 50%;
}

/*# sourceMappingURL=style.css.map */
